.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: '30vh';
  transition: background-color 0.5s ease;
  padding: '10px';
}

.wide {
  background-color: lightgreen;
}
.narrow {
  background-color: lightcoral;
}

.container h1 {
  font-size: 2.5rem;
  font-weight: Bold;
  color: White;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
